<!DOCTYPE HTML>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="css/bootstrap.css" type="text/css" media="all" />
    <script src="bootstrap.js" type="text/javascript" charset="utf-8"></script>
  
    <title>WaDokuJT</title>
    
  </head>
  <body>
     <%= yield %>
  </body>
</html>
